.stopwatch-container {
    max-width: 300px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .display{
    margin-left: 50px;
  }
  .stopwatch-container h1{
    margin-left: 70px;
    color: rgb(255, 255, 255);
  
  }

  .stopwatch-container{
    background: linear-gradient(135deg,rgb(175, 175, 255),rgb(3, 44, 114));
    box-shadow: 2px 2px 3px 2px green;
    /* margin-top: 200px; */
  }
  body{
    background: #333;
  }
  
  .display {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .controls {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  #lap-times {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  #lap-times li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  #lap-times li:last-child {
    border-bottom: none;
  }